<div class="container">
  <h1 class="title">Find the first unique letter in any text</h1>
  <form class="text-form" autocomplete="off">
    <label class="label">
      Enter text
      <textarea class="textarea" name="text" rows="18" autofocus />
    </label>
    <div class="btn-wrap">
      <button class="btn" type="submit">Find letter</button>
      <button class="btn-reset" type="button">Reset form</button>
    </div>
  </form>
  <div class="result-wrap"></div>
</div>

<script src="./js/first-unique-letter.js" type="module"></script>
